---
import metadata from '@data/metadata';
import GAHead from './GAHead.astro';
export interface Props {
  pageId: string;
  title: string;
}
const { pageId, title } = Astro.props;
const ttl = `${`${title} | JWS Playgrounds`}`;
---

<meta charset='utf-8' />
<meta name='viewport' content='width=device-width' />
<GAHead />
<title>{ttl}</title>
<link rel='canonical' href={metadata[pageId].head_url} />
<meta name='description' content={metadata[pageId].description} />
<meta property='og:title' content={ttl} />
<meta property='og:description' content={metadata[pageId].description} />
<meta property='og:url' content={metadata[pageId].head_url} />
<meta property='og:image' content={metadata.global.og_image} />
<meta property='og:type' content={metadata.global.og_type} />
<meta property='og:site_name' content={ttl} />
<meta name='twitter:card' content='summary_large_image' />
<link rel='shortcut icon' href={metadata.global.favicon} />
